<div class="row">
  <div class="col-md-12">
    <div class="jumbotron">
      <h4>A place where ...</h4>
      <ul>
        <li>50% winrate not forced</li>
        <li>Play with players <b>equal</b> to your skill</li>
        <li>Boost your official <b>mmr</b> through pubstomping... ez</li>
        <li>Farm events</li>
        <li>Achievements</li>
      </ul>
    </div>
  </div>
</div>