<nav class="navbar navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to(image_tag('logo.png', class: 'pull-left logo-navbar'), root_path) %>
      <%= link_to('Dota2Arena', root_path, class: 'navbar-brand') %>
    </div>
    <div class="container-fluid">
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav center">
          <li><a href="#about">Blog</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
